/ExecutionResults/LiteDBImages
/AutoSave
*.json
*.txt
*/PrevVerions
*/PreVerions
/RecentlyUsed.dat
*.html
*.png
/Backups
/Recover
/Documents/Requests
Responses
HTMLReports
/SharedRepository/Activities/PrevVersions 
*.jpg
/ExecutionResults
/Documents/Responses